body {
    background-color: rgb(34, 33, 32);    
}

::selection{
    background: #8d78559d;
    color: #c9c6c6;
}


input[type="text"], input[type="number"], input[type="password"], .form-group select,.form-group textarea{
    background-color: rgb(34, 33, 32);
    color: #bebebe;
    border-color: rgb(73, 65, 56);
}

th, td{  
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
  cursor: pointer;
  text-align: center;  
}
.td-btn{
  cursor: pointer;
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px; 
}
.td-btn:hover{
  color: #c4a337;
}

.td2{
  cursor: default;
}
.input-group-addon{
  background-image:         linear-gradient(to bottom, #4d4432 0%, #382f1f 100%);
  color: #bebebe;
  border-color: rgb(73, 65, 56);
  
  
}
.form-group .control-label{
  padding-right: 80px;  
}

.panel {    
    background-color: inherit;
    border: 1px solid transparent;
    border-radius: 1px;    
    
    -webkit-box-shadow: 0 1132px 123px rgba(0, 0, 0, 0);
            box-shadow: 0 1123px 123px rgba(0, 0, 0, 0);
  }

  
.panel-heading { 
    background-image:         linear-gradient(to bottom, #4d4432 0%, #382f1f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffc4e3f3', GradientType=0);
    background-repeat: repeat-x;   

    background-color: rgb(24, 23, 22); 
    color: #bebebe;
    
    border-color: #3b3324;
    
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;   
  }

  .panel-body {    
    background-color:  rgb(44, 42, 40);
    color: #bebebe;             
  }

  .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: red;
  }

  .text-precio{
    font-size: 30px;
    text-align: center;
  }
/*---------------------------  Tarjeta --------------------------*/
  .tarjeta{
    margin-bottom: 20px;        
    padding: 0px;  
    padding-right: 60px;
    padding-left: 20px;
    
  }
  
  .tarjeta:hover{
    cursor: pointer;      
  }
  .tarjeta:hover .panel-heading{
    background-image: linear-gradient(to bottom, #8d78559d 0%, #4d3f27b7 100%);
    color: #c4a337; 
    border-color: #382f1f;            
  }
  .tarjeta:hover .panel-body{
    background: rgb(53, 50, 48);
    color: #c7c6c6; 
  }
  .tarjeta .panel-body{
    padding: 15px;           
  }
  .tarjeta .panel-footer{
    background-color:  rgb(44, 42, 40);
    border-color: #382f1f;
  }
  .tarjeta:hover .panel-footer{
    background: rgb(53, 50, 48);
    border-color: #463a27;
    color: #c7c6c6; 
  }
  .tarjeta spam{    
    float: right;
  }
/*---------------------- Navbar  ----------------------------------*/
.navbar-inverse{
  background-color:  rgb(44, 42, 40);
}
.navbar-inverse .navbar-collapse .navbar-brand,
.navbar-inverse .navbar-brand{
  color: #bebebe;
  transition: 0.3s;
  border: none;
  outline: none;
  padding: 14px 16px;
}
.navbar-inverse .navbar-collapse .navbar-brand:hover,
.navbar-inverse .navbar-brand:hover{
  background-color: #8d78559d;
  color: #beb5a2;
}
/*--------------------------------------------------------*/
.m8 {
  margin-top: 8px;
}
/*--------------------------------------------------------------*/
  .btn-success {
      background-image: -webkit-linear-gradient(top, rgb(236, 14, 14) 0%, rgb(34, 33, 32) 100%);
      background-image:      -o-linear-gradient(top, #d82d17 0%, #96418b 100%);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#b85ca4), to(#418996));
      background-image:         linear-gradient(to bottom, #4d4432 0%, #423928 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
      background-repeat: repeat-x;
      background-color: #625cb8;
      border-color: rgb(34, 33, 32);
      color: #bebebe;          
    }
  .btn-success:hover {
      color: #beb5a2;
      background-color: #44519d;
      border-color: rgb(43, 42, 41);
      background-image:         linear-gradient(to bottom, #524631 0%, #473d2b 100%);
    }
  .btn-success .badge {
      color: #af2c88;
      background-color: #fff;
    }
  .btn-success:focus,
  .btn-success.focus {
      color: #beb5a2;
      background-color: #449d44;
      border-color: #255625;
      
    }
  .btn-success:active,
  .btn-success.active,
  .open > .dropdown-toggle.btn-success {
    color: rgb(228, 15, 15);
    background-color: #449d44;
    border-color: #398439;
  }
  .btn-success:active:hover,
  .btn-success.active:hover,
  .open > .dropdown-toggle.btn-success:hover,
  .btn-success:active:focus,
  .btn-success.active:focus,
  .open > .dropdown-toggle.btn-success:focus,
  .btn-success:active.focus,
  .btn-success.active.focus,
  .open > .dropdown-toggle.btn-success.focus {
    color: #bebebe;
    background-color: #524631;
    border-color: #255625;
  }

/*------------------------------------------------------*/
.btn-icon{  
  border-color: #534b31;
  border-style: solid;
  border-width: 1px;  
  transition: 0.15s;
}

.td-br:hover .btn-icon{
  border-color: #c4a337;
}
.td-br{  
  border-width: 1px; 
  border-right-style: solid;
  border-left-style: solid; 
  border-color: rgb(73, 65, 56);      
}
.td-br:hover{
  background: #8d78559d;
  cursor: pointer;
  transition: 0.15s;
  color: #c9c6c6;
  background-color:  rgb(44, 42, 40);  
}

.table{    
  color: #bebebe;    
  background-color:  rgb(31, 29, 28);      
}
thead{
  border-top-style: solid;
  border-color: rgb(73, 65, 56);  
  background-color:  rgb(44, 42, 40);
  color: #cac8c8;  
}
th{
  border-style: solid; 
  border-width: 1px;
  border-color: rgb(73, 65, 56);
}
tbody{
  
  border: 2px solid rgb(73, 65, 56);
}
td{  
  border-bottom-style: solid;  
  border-width: 1px;
  border-color: rgb(73, 65, 56);
  border-right: 1px solid rgb(39, 36, 35);
}
.td-br:hover td{
  border-right: 1px solid rgb(54, 50, 49);
}
.table > thead > tr > th {
  vertical-align: bottom;
  border: 2px solid rgb(73, 65, 56);
}


/*---------------------------------------------------*/
#principal{  
  color: #e6e6e6;  
}

#pruebasdecosasdecoloresblablabla{
  color: #fc504a;  
}